.container {
    max-width: 960px;
}

.myapp-top {
	margin-top: 50px;
	margin-bottom: 50px;
}
.myapp-top > .title {
	font-size: 36px;
	font-weight: bold;
}
.myapp-top span {
	margin-right: 15px;
}
.myapp-top a > button {
	margin: 0 5px;
}

.add-comment {
	margin-bottom: 20px;
	border-bottom: 2px solid #000;
}

#comments {
	margin-top: 20px;
}

.comment {
	margin-bottom: 10px;
}
.comment-box {
	height: 100px;
	border: 1px solid #000;
	overflow: auto;
}
.comment-box > span {
	display: block;
}
.comment-box > span.time {
	text-align: right;
	padding-top: 5px;
}

.box {
	border: 2px solid #000;
}
.box > legend {
	padding: 0 10px;
	margin: 0;
	width: auto;
	border: none;
}
.box > .fb-box {
	padding: 20px 0;
	border-bottom: 2px solid #000;
}
.box > .login-box {
	padding: 20px 0 5px;
}
.error {
	color: red;
}

.icon {
	display: block;
	width: 160px;
	
}
.icon > img {
	width: 160px;
	height: 160px;
}
.icon > span {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	padding-top: 5px;
}

.menu {
	margin-top: 50px;
	width: 160px;
}
.menu > ul {
	border: 2px solid #000;
	padding-bottom: 50px;
}
.menu > ul > li {
	padding: 5px 0 0 10px;
	cursor: pointer;
}
.menu > ul > li:hover,
.menu > ul > li.active {
	background: #3F8BFF;
}
.menu > ul > li > a {
	display: block;
	color: #000;
	font-weight: bold;
}
.menu > ul > li > a:hover {
	text-decoration: none;
}


/*-------------------------------------------------*/
ul {
	list-style: none;
	padding: 0;
}

.ui-dialog-titlebar {
	display: none;
}

.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 999px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}


